[tool.poetry]
name = "ai-for-greenhouseses"
version = "0.1.0"
description = ""
authors = ["Ashot Svazyan <ashot.svazyan222@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "3.12"
torch = "^2.9.1"
torchvision = "^0.24.1"
cvat-sdk = "^2.53.0"
pycocotools = "^2.0.11"
opencv-python = "^4.12.0.88"
matplotlib = "^3.10.8"


[tool.poetry.group.dev.dependencies]
black = "^25.1.0"
flake8 = "^7.1.1"
isort = "^6.0.0"


[tool.black]
line-length = 120
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''


[tool.isort]
profile = "black"
line_length = 120
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true
ensure_newline_before_comments = true


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
